/* estilos gerais */
@import url(./global/reset.css);
@import url(./global/variable.css);
@import url(./global/header.css);
@import url(./global/footer.css);

/* introdução */
@import url(./intro/intro.css);

/* experiencia */
@import url(./experiencia/experiencia.css);

/* formação */
@import url(./formacao/formacao.css);

.swiper {
  width: 100%;
  height: 100%;
  cursor: grab !important;
}

.statements-pagination {
  position: initial !important;
  margin-top: 20px;
}

.statements-pagination span {
  background-color: #5c5d5a;
  width: 16px;
  height: 16px;
}

.statements-pagination span.swiper-pagination-bullet-active {
  background-color: #800add;
}

.swiper-slide {
  background-color: #f5f5f5;
}
